.card {
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}
.displayTable{
    text-align: center;
    padding-top: 40px;
    background-image: url('../../../assets/images/pngtree-vector-white-background-with-abstract-geometric-pattern-or-textu-image_265390.jpg');
    background-size: cover;
    padding-bottom: 400px;
}