<div class="mydiv">
        <section class="client">
                <h1>Партньори
                </h1>
                <hr class="hr-13">

                    <div class="">
                      <div class="row">
                        <div id="one" class="col-md-2">
                          <img height="200px" class="thumbnail img-responsive" src="../../assets/images/about/VIP-Building-logo (1).png" />
                          <p>"ВИП Билдинг“ ЕООД</p>
                        </div>
                        <div id="two" class="col-md-2">
                          <img height="200px" class="thumbnail img-responsive" src="../../assets/images/about/VIP-Building-Invest-logo.png" />
                          <p>"ВИП Билдинг Инвест“ ЕООД</p>
                        </div>
                        <div id="three" class="col-md-2">
                          <img height="200px" class="thumbnail img-responsive" src="../../assets/images/about/Clean-World-logo.png" />
                         <p>„Чист свят“ ЕООД</p> 
                        </div>
                        <div id="four" class="col-md-2">
                          <img height="200px" class="thumbnail img-responsive" src="../../assets/images/about/VIP-Building-logo (1).png" />
                            <p>„Интернешънъл Финанс Гарант“ ООД</p>
                        </div>
                        <div id="five" class="col-md-2">
                          <img height="200px" class="thumbnail img-responsive" src="../../assets/images/about/VIP-Building-logo (1).png" />
                            <p>„Рест Линк Секюрити“ ООД</p>
                        </div>
                      </div>
                    </div> 
                    <hr class="hr-13">

                </section>
                
</div>
