<!-- Header Start -->
      <!-- Header Close -->
      
      <!-- main wrapper start -->
      <div class="main-wrapper">
      
      <!-- Slider Start -->
      <section class="slider">
          <div class="container">
              <div class="row">
                  <div class="col-lg-9 col-md-10">
                      <div class="block">
                <div class="animated-title">
                      <div class="text-top">
                        <div>
                          <span>VIP</span>
                          <span>BUILDING</span>
                        </div>
                      </div>
                      <div class="text-bottom">
                        <div>GROUP</div>
                      </div>
                    </div>
                          <span style="padding-top: 290px; font-size: 20px;" class="d-block mb-3 text-white ">В нашата строителна компания работим индивидуално с всеки клиент, като се съобразяваме с неговите изисквания и потребности. Гарантираме максимална сигурност и защита на Вашите интереси, на всеки етап от сделката.</span>          
                          <a href="/about" class="btn btn-main animated fadeInUp btn-round-full">За нас<i
                                  class="btn-icon fa fa-angle-right ml-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Section Intro Start -->
      
      <!-- Section Intro END -->
      <!-- Section About Start -->
      
      <section style="margin-top: 50px" class="section about position-relative">
          <div class="bg-about"></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 offset-lg-6 offset-md-0">
                      <div class="about-item ">
                          <span class="h6 text-color">Кои сме ние?</span>
                          <h2 class="mt-3 mb-4 position-relative content-title">Ние сме един динамичен екип от креативни хора.</h2>
                          <div class="about-content">
                              <h4 class="mb-3 position-relative">Ние предоставяме:</h4>
                              <p class="mb-5">
                    Kaчествени материали
                    <br/>
                    Качествено строителство
                    <br/>
                    Технологична дисциплина
                    <br/>
                    Високо квалифицирани кадри
                    <br/>
                    Дългогодишна практика в областта
                    <br/>
                    Спазване на срокове за изпълнение
                  </p>
      
                              <a href="www.vipbuildinggroup.com/contacts" class="btn btn-main btn-round-full">Свържете се с нас</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
      <!-- Section About End -->
      <!-- section Counter Start -->
      <!-- <section class="section counter bg-counter">
              <div class="container">
                  <div style="justify-content: center;" class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="counter-item text-center mb-5 mb-lg-0">
                              <i class="ti-check color-one text-md"></i>
                              <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">1730</span> +</h3>
                              <p class="text-white-50">Завършени проекта</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="counter-item text-center mb-5 mb-lg-0">
                              <i class="ti-flag color-one text-md"></i>
                              <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>M </h3>
                              <p class="text-white-50">Предстоящи</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="counter-item text-center mb-5 mb-lg-0">
                              <i class="ti-layers color-one text-md"></i>
                              <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">39</span></h3>
                              <p class="text-white-50">В изграждане</p>
                          </div>
                      </div>
           
                  </div>
              </div>
          </section> -->

      <section class="section cta">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5">
                      <div class="cta-item  bg-white p-5 rounded">
                          <span class="h6 text-color">Ние създаваме за вас</span>
                          <h2 class="mt-2 mb-4">Доверете проекта си на нашия екип от професионалисти</h2>
                          <p class="lead mb-4">Имате проект на ум?</p>
                          <h3><i class="ti-mobile mr-3 text-color"></i>+359 (52) 655552</h3>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--  Section Cta End-->
      <!-- Section Testimonial Start -->
<!--       
      <section class="mt-70 position-relative">
          <div class="container">
              <div class="cta-block-2 bg-gray p-5 rounded border-1">
                  <div class="row justify-content-center align-items-center ">
                      <div class="col-lg-7">
                          <span class="text-color">За всеки тип бизнес</span>
                          <h2 class="mt-2 mb-4 mb-lg-0">Свържете се с нас за бърза консултация</h2>
                      </div>
                      <div class="col-lg-4">
                          <a href="/contacts" class="btn btn-main btn-round-full float-lg-right ">Контакти</a>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->
      
      <footer class="footer section">
        <div class="container">
          <div class="row">
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="widget">
                <h4 class="text-capitalize mb-4">Company</h4>
      
                <ul class="list-unstyled footer-menu lh-35">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div> -->
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="widget">
                <h4 class="text-capitalize mb-4">Бързи линкове</h4>
      
                <ul class="list-unstyled footer-menu lh-35">
                  <li><a href="/">Начало</a></li>
                  <li><a href="/services">Обекти</a></li>
                  <li><a href="/about">За нас</a></li>
                  <li><a href="/contacts">Контакти</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" >
                  <svg id="filters"><filter id="fe-edge" primitiveUnits="objectBoundingBox"><feColorMatrix type="luminanceToAlpha"></feColorMatrix><feMorphology operator="erode" radius="0.016"></feMorphology><feComponentTransfer><feFuncR type="table" tableValues="1 1"></feFuncR><feFuncG type="table" tableValues="1 1"></feFuncG><feFuncB type="table" tableValues="1 1"></feFuncB><feFuncA type="table" tableValues="0 1"></feFuncA></feComponentTransfer><feBlend in="SourceGraphic" mode="screen"></feBlend></filter></svg>
                  <div
                      class="wrap">
                      <div class="no-fx"><img class="ref" src="http://vipbuildinggroup.com/wp-content/uploads/2014/02/Logo_png1.png" /></div>
                      <div class="post-fx"><img class="fx" src="http://vipbuildinggroup.com/wp-content/uploads/2014/02/Logo_png1.png" /></div>
                      </div>      </div>
      
            <div class="col-lg-3 ml-auto col-sm-6">
              <div class="widget">
                <div class="logo mb-4">
                      <h4 class="text-capitalize mb-4">Бързи контакти</h4>
                </div>
                <h6><a href="tel:+35952655552">+359(52)655552</a></h6>
                <h6><a href="+35952655552">+359(52)655552</a></h6>

                <a href="mailto:vip_building@abv.bg"><span class="text-color h4">vip_building@abv.bg</span></a>
              </div>
            </div>
          </div>
      
          <div class="footer-btm pt-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="copyright">
                  &copy; Copyright Reserved to <span class="text-color">VIP</span> BUILDING 
                </div>
              </div>
              <div class="col-lg-6 text-left text-lg-right">
                <ul class="list-inline footer-socials">
                  <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i
                        class="ti-facebook mr-2"></i>Facebook</a></li>
                  <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i
                        class="ti-twitter mr-2"></i>Twitter</a></li>
                  <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i
                        class="ti-linkedin mr-2 "></i>Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
      </div>
      <!-- main wrapper end -->
      
      <!-- 
          Essential Scripts
          =====================================-->
      <!-- Main jQuery -->
      <script src="../assets/plugins/jquery/jquery.js"></script>
      <script src="../assets/js/contact.js"></script>
      <!-- Bootstrap 4.3.1 -->
      <script src="../assets/plugins/bootstrap/js/popper.js"></script>
      <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <!--  Magnific Popup-->
      <script src="../assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <!-- Slick Slider -->
      <script src="../assets/plugins/slick-carousel/slick/slick.min.js"></script>
      <!-- Counterup -->
      <script src="../assets/plugins/counterup/jquery.waypoints.min.js"></script>
      <script src="../assets/plugins/counterup/jquery.counterup.min.js"></script>
      
      <!-- Google Map -->
      <script src="../assets/plugins/google-map/map.js"></script>
      <script src="../assets/https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap">
      </script>
      
      <script src="../assets/js/script.js"></script>